<div class="row">
  <div class="col-sm-12">
    <img src="{{recipe.imagePath}}" alt="" class="img-responsive">
  </div>
</div>

<div class="row">
  <div class="col-sm-7 mt-2">
    <h1> {{ recipe.name }} </h1>
  </div>

  <div class="col-sm-5">
    <div class="dropdown">
      <button class="btn btn-dark dropdown-toggle btn-size" type="button" data-toggle="dropdown" appDropdown> Manage Recipe
        <span class="caret"></span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#"> Shopping List </a>
        <a class="dropdown-item" href="#"> Edit Reicpe </a>
        <a class="dropdown-item" href="#"> Delete Reipe </a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    {{ recipe.description }}
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    Ingredients goes here
  </div>
</div>